.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  color: @white;
  background-color: @primary-color;
  cursor: pointer;

  &:hover {
    background-color: @hover-color;
  }

  &:active {
    background-color: @active-color;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: @disabled-color;
  }
}
