.features {
  .list-unstyled();
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: @white;
  color: @black;
  text-align: left;
}

.features__title {
  margin: 0;
}

.features__item--house:before {
  content:"";
  display: block;
  margin-top: -12px;
  margin-left: 6px;
  background-image: url("../img/icon-house.svg");
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
}

.features__item--house .features__description {
  margin-bottom: 33px;
}

.features__item--gift:before {
  content: "";
  display: block;
  margin-top: -16px;
  margin-left: 8px;
  background-image: url(../img/icon-gift.svg);
  height: 57px;
  width: 57px;
  background-repeat: no-repeat;
}

.features__item--gift .features__description {
  margin-bottom: 33px;
}

.features__item--food:before {
  content: "";
  display: block;
  margin-top: -6px;
  margin-left: 4px;
  background-image: url(../img/icon-burger.svg);
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
}

.features__item--food .features__title {
  margin-bottom: 17px;
}

.features__item--food .features__description {
  padding-right: 5px;
}

.features__text-block {
  margin-left: 12px;
}

.features__item {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.features__description {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
  }

  .features__item {
    align-items: center;
  }

  .features__item--gift {
    order: 1;
  }

  .features__item {
    width: 33%;
    text-align: center;
    flex-direction: column;
  }

  .features__title {
    font-size: 21px;
  }

  .features__description {
    line-height: 21px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .features__text-block {
    padding: 0;
  }
}
