.features {
  .list-unstyled();
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: @white;
  color: @black;
  text-align: left;
}

.features__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.features__item--house:before {
  content: "";
  display: block;
  margin-top: -9px;
  margin-left: 8px;
  background-image: url(../img/icon-house.svg);
  height: 78px;
  width: 65px;
  background-repeat: no-repeat;
}

.features__item--house .features__description {
  margin-bottom: 28px;
}

.features__item--gift:before {
  content: "";
  display: block;
  margin-top: -12px;
  margin-left: 8px;
  background-image: url(../img/icon-gift.svg);
  height: 57px;
  width: 57px;
  background-repeat: no-repeat;
}

.features__item--gift .features__description {
  margin-bottom: 28px;
}

.features__item--food:before {
  content: "";
  display: block;
  margin-top: -6px;
  margin-left: 4px;
  background-image: url(../img/icon-burger.svg);
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
}

.features__item--food .features__title {
  margin-bottom: 17px;
}

.features__item--food .features__description {
  padding-right: 5px;
}

.features__text-block {
  margin-left: 12px;
}

.features__item {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.features__description {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
    padding-top: 66px;
  }
  .features__item {
    width: 33%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .features__title {
    font-size: 21px;
  }

  .features__description {
    text-align: center;
    line-height: 21px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .features__text-block {
    padding: 0;
  }

  .features__item--house:before {
    margin-top: -8px;
    margin-left: 1px;
    height: 77px;
    width: 72px;
    margin-bottom: 20px;
  }

  .features__item--house .features__title {
    margin-bottom: 22px;
    margin-left: -10px;
  }

  .features__item--house .features__description {
    padding-left: 21px;
    padding-right: 30px;
  }

  .features__item--food:before {
    margin-top: -4px;
    margin-left: 0px;
    margin-bottom: 27px;
    height: 66px;
    width: 72px;
  }

  .features__item--food .features__title {
    margin-left: -10px;
    margin-bottom: 22px;
  }

  .features__item--food .features__description {
    margin-left: -3px;
    padding-left: 21px;
    padding-right: 30px;
  }



  .features__item--gift {
    order: 1;
  }


}
