.features {
  .list-unstyled();
  background-color: @white;
  color: @black;
  text-align: left;
}

.features__title {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
  }

  .features__item {
    width: 33%;
    .text-center();
  }
}

