.form__wrapper {
  margin-top: 20px;
  border-top: 1px solid @border-color;
}

.form__section {
  margin: 0 0;
  padding: 0 0;
  border: none;
  border-bottom: 1px solid @border-color;
  display: block;

  &--contacts {
    padding-bottom: 20px;
  }
}

.form__title {
  padding-top: 20px;
}

.form__text {
  padding-right: 20px;
  padding-left: 20px;
}

.form__section-title {
  padding-top: 20px;
  padding-bottom: 20px;
 }

.form__list {
  .list-unstyled();
}

.form__item {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;

  &--radio {
    margin-bottom: 40px;
  }

  &--checkbox {
    margin-bottom: 40px;
  }
}

.form__input-icon {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: -20px;
    right: -58px;
    width: 58px;
    height: 58px;
  }

  &--tel {
    &:after {
      background: url("../img/icon-phone.svg");
    }
  }

  &--e-mail {
    &:after {
      background-image: url("../img/icon-mail.svg");
    }
  }

  &:after {
    background-position: center;
    background-repeat: no-repeat;
    background-color: @input-icon-background-color;
  }

}

.form__label {
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  line-height: 1.86;

  &--contact {
    margin-left: 20px;
    display: block;
  }
}


.form__input {
  padding-left: 15px;
  margin-top: 15px;
  height: 58px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @black;
  background-color: @input-color;
  border: none;

  &:placeholder {
    color: @black;
    opacity: 1;
  }

  &:hover {
    background-color: @input-hover-color;
  }

  &:focus {
    background-color: @white;
    border: solid 4px @disabled-color;
  }

  &--name {
    margin-left: 10px;
    width: 230px;
  }

  &--second-name,
  &--middle-name {
    width: 201px;
  }

  &--middle-name {
    margin-left: 4px;
    margin-bottom: 30px
  }

  &--tel {
    margin-top: 4px;
    margin-bottom: 10px;
    position: relative;
  }

  &--e-mail {
    margin-top: 4px;
  }
}

.form__section--emotions {
  border-bottom: none;
}

.form__control-label {
  padding-left: 75px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
}

.form__radio-control + .form__control-label  {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0px;
    width: 56px;
    height: 56px;
    background-color: @body-color;
    border-radius: 50%;
  }
}

.form__radio-control:checked + .form__control-label  {
  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 17px;
    width: 22px;
    height: 22px;
    background-color: @dark-grey;
    border-radius: 50%;
  }
}

.form__radio-control:focus + .form__control-label,
.form__item--radio:hover .form__control-label {
  &::before {
    background-color: @disabled-color;
  }
}

.form__item--radio:active .form__control-label {
  &::before {
    background-color: @radio-active-color;
  }

  &::after {
    background-color: rgba(51, 51, 51, 0.3);
  }
}

.form__checkbox + .form__control-label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: @input-color;
  border-radius: 5px;
}

.form__checkbox:checked + .form__control-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: @input-color;
  background: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__message {
  margin-left: 20px;
  height: 160px;
  width: 279px;
  font-size: 18px;
  line-height: 1.44;
  font-weight: bold;
  text-align: left;
  color: @black;
  background-color: @input-color;
  padding-top: 15px;
  padding-left: 15px;
  border: none;
}

.form__button {
  margin-top: 20px;
  width: 280px;
  height: 58px;
  font-size: 21px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .form {
    width: 728px;
    .block-center();
  }

  .form__section {
    border: none;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }

  .form__text {
    padding-right: 150px;
    padding-left: 150px;
  }

  .form__section-title {
    font-size: 21px;
    line-height: 1.24;
  }

  .form__section--contacts .form__input {
    width: 590px;
  }

  .form__section--contacts .form__item {
    margin-bottom: 30px;
  }


  .form__section--impression .form__section-title {
    margin-bottom: 40px;
  }

  .form__section--introduce .form__section-title {
    margin-bottom: 20px;
  }

  .form__section--impression,
  .form__section--introduce {
    width: 50%;
  }

  .form__section--sights .form__section-title {
    padding-left: 160px;
    padding-right: 160px;
  }

  .form__section--contacts,
  .form__section--sights,
  .form__section--emotions {
    width: 100%;
  }

  .form__section {
    &--impression {
      order: 0;
    }

    &--introduce {
      order: 1;
      border-left: 1px solid @border-color;
    }

    &--contacts {
      order: 2;
    }

    &--sights {
      order: 3;
    }

    &--emotions {
      order: 4;
    }
  }



}



