.form__wrapper {
  margin-top: 20px;
  border-top: 1px solid @border-color;
}

.form__section {
  margin: 0 0;
  padding: 0 0;
  border: none;
  border-bottom: 1px solid @border-color;
  display: block;

  &--contacts {
    padding-bottom: 20px;
  }
}

.form__title {
  padding-top: 20px;
}

.form__text {
  padding-right: 20px;
  padding-left: 20px;
}

.form__section-title {
  padding-top: 20px;
  padding-bottom: 20px;
 }

.form__list {
  .list-unstyled()
}

.form__item {
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
}

.form__label {
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  line-height: 1.86;

  &--contact {
    margin-left: 20px;
    display: block;
  }
}


.form__input {
  padding-left: 15px;
  margin-top: 15px;
  height: 58px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @black;
  background-color: @input-color;
  border: none;

  &:placeholder {
    color: @black;
    opacity: 1;
  }

  &:hover {
    background-color: @input-hover-color;
  }

  &:focus {
    background-color: @white;
    border: solid 4px #e5e5e5;
  }

  &--name {
    margin-left: 10px;
    width: 230px;
  }

  &--second-name,
  &--middle-name {
    width: 201px;
  }

  &--middle-name {
    margin-left: 4px;
    margin-bottom: 30px
  }

  &--tel {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  &--e-mail {
    margin-top: 4px;
  }
}

.form__section--emotions {
  border-bottom: none;
}

.form__control-label {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: @black;
}

.form__message {
  margin-left: 20px;
  height: 160px;
  width: 279px;
  font-size: 18px;
  line-height: 1.44;
  font-weight: bold;
  text-align: left;
  color: @black;
  background-color: @input-color;
  padding-top: 15px;
  padding-left: 15px;
  border: none;
}

.form__button {
  margin-top: 20px;
  width: 280px;
  height: 58px;
  font-size: 21px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form__section--impression,
  .form__section--introduce {
    width: 50%;
  }

  .form__section--contacts,
  .form__section--sights,
  .form__section--emotions {
    width: 100%;
  }

  .form__section {
    &--impression {
      order: 0;
    }

    &--introduce {
      order: 1;
    }

    &--contacts {
      order: 2;
    }

    &--sights {
      order: 3;
    }

    &--emotions {
      order: 4;
    }
  }
}
