.main-nav__wrapper {
  position: relative;

}

.main-nav__button {
  &--close {
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
    color: @white;
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 22px;
  }



}



.main-nav__list {
  .list-unstyled();
  background-color: @primary-color;
  color:@white;
}
