.main-nav {
  display: block;
  width: 100%;
  background: @white;
}

.main-nav__wrapper {
  position: relative;
}

.main-nav__button {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 10px;



  //border: none;
  //background-color: @white;
  //rect {
  //  fill: @primary-color;
  //}
}

.main-nav__list {
  .list-unstyled();
  background-color: @primary-color;
  color: @white;
}


@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__button::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }


 .main-nav--opened .main-nav__list {
    display: block;
 }

}



@media (min-width: @tablet-width) {
  .main-nav {
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    background-color: @white;
    color: @black;
  }
}
