.nav-list__item {
  .text-center();
  background-color: @primary-color;

  &--active {

  }
}

.nav-list__link {
  .text-uppercase();
  color:@white;
  background-color: @primary-color;
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  display: block;

  &:hover {
    background-color: @hover-color;
  }

  &:active {
    background-color: @active-color;
  }
}
