.nav-list__item {
  .text-center();
  background-color: @blue;

  &--active {

  }
}

.nav-list__link {
  .text-uppercase();
  color:@white;
  background-color: @blue;
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  display: block;

  &::hover {
    background-color: @menu-item-hover-color;
  }

  &::active {
    background-color: @menu-item-active-color;
  }
}
