.page-header__logo-wrapper {
  .text-center();
  background-color: @white;
}

.page-header__intro {
  background-color: @primary-color;
  background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center, center;
  min-height: 390px;

  &--other {
    background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
  }
}
