.page__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.page__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .page__container {
    width: 768px;
    .block-center();
  }
}

@media (min-width: @desktop-width) {
  .page__container {
    width: 1200px;
    .block-center();
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
