.page-header {

}

.page-header__logo-wrapper {
  background-color: @white;
}

.page-header__logo-link {

}

.page-header__logo-image {

}

.page-header__intro {
  background-color: @blue;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 390px;
}
