.page__subtitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.page__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page__container {
    width: 768px;
    .block-center();
  }

  .page__subtitle {
    font-size: 30px;
    line-height: 1.86;
  }
}

@media (min-width: @desktop-width) {
  .page__container {
    width: 1200px;
    .block-center();
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
