.photo {
  padding-top: 21px;
  padding-bottom: 20px;
}

.photo__subtitle {
  margin-bottom: 28px;
}

.photo__slogan {
  padding-left: 25px;
  padding-right: 23px;
  padding-bottom: 16px;
}

.photo__list {
  .list-unstyled();
  .block-center()
}

.photo__item {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid @border-color;

  &--first {
    border-top: 1px solid @border-color;
  }
}

.photo__title {
  margin-bottom: 3px;
  padding-top: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.photo__text {
  margin-top: 0;
}

.photo__like {
  font-size: 14;
  font-weight: bold;
  padding-bottom: 2px;
  padding-left: 37px;
  position: relative;
}

.photo__icon-like {
  position: absolute;
  top: -3px;
  left: 0;
  fill: black;
  opacity: 0.3;
}



.photo__picture {
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.photo__description-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {


  .photo {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .photo__subtitle {
    margin-bottom: 15px;
  }

  .photo__slogan {
    padding-left: 164px;
    padding-right: 164px;
    padding-bottom: 55px;
  }

  .photo__title {
    padding-top: 0px;
    margin-bottom: 2px;
  }

  .photo__item {
    width: 325px;
    background-color: @grey;
    padding: 0;
    border-bottom: none;

    &--first {
      width: 650px;
    }
  }

  .photo__picture {
    padding: 0;
  }

  .photo__list {
    width: 650px;
    display: flex;
    flex-wrap: wrap;
  }

  .photo__description-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
  }

  .photo__description {
    margin-left: 10px;
  }

  .photo__icon-like {
   // display: block;
    top: 14px;
  }

  .photo__like {
    margin-right: 10px;
   // display: flex;
   // align-items: center;
  }

  .photo__like--first {
    margin-right: 12px;
    padding-top: 15px;
    padding-left: 31px;
  }

}

@media (min-width: @desktop-width) {
  .photo__icon-like {
    fill: @white;
  }

  .photo {
    padding-bottom: 30px;
  }

  .photo__slogan {
    padding-bottom: 30px;
  }

  .photo__list {
    width: 1200px;
  }

  .photo__item {
    width: 400px;

    &--first {
      width: 1200px;
    }
  }

  .photo__description-wrapper {
    position: relative;
    margin-top: -76px;
    padding-left: 20px;
    color: @white;
    background-color: rgba(0,0,0,0.5);
  }
}
