.photo__list {
  .list-unstyled();
}

.photo__item {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid @border-color;

  &--first {
    border-top: 1px solid @border-color;
  }
}

.photo__picture {
  width: 100%;
}
