.reasons {
  text-align: center;
  text-transform: uppercase;
}

.reasons__list {
  .list-unstyled();
  background-color: @grey;
}

.reasons__subtitle {
  padding-left: 27px;
  padding-right: 27px;
  line-height: 1.44;
}

.reasons__subtext {
  padding-left: 27px;
  padding-right: 27px;
  line-height: 2;
}


.reasons__item {
  &--one {
    color: @white;
    background-color: @primary-color;
  }

  &--two {
    color: @white;
    background-color: @primary-color;
  }

  &--three, &--four, &--five {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: @dark-grey;
    background-color: @grey;
    border-bottom: 1px solid @border-color;
  }

  &--five {
   border-bottom: none
  }
}

.reasons__title {
  margin: 0;
}

.reasons__text--one {
  padding-top: 60px;
  padding-bottom: 33px;
}

.reasons__text--two {
  padding-top: 43px;
  padding-bottom: 33px;
}



.reasons__description {
  padding-left: 12px;
  padding-right: 12px;
}


.reasons__image {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .reasons__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reasons__item {
    &--one {
      width: 100%;
    }

    &--two {
      width: 100%;
    }

    &--three {
      width: 33.33%;
    }

    &--four {
      width: 33.33%;
    }

    &--five {
      width: 33.33%;
    }
  }

  .reasons__wrapper-item {
    display: flex;
  }

  .reasons__text {
    width: 33%;

    &--right {
      order: 1;
    }
  }

  .reasons__image-wrapper {
    width: 67%;
  }
}
