.reasons {
  text-align: center;
  text-transform: uppercase;
}

.reasons__list {
  .list-unstyled();
  background-color: @grey;
}

.reasons__subtitle {
  padding-left: 26px;
  padding-right: 28px;
  line-height: 27px;
  margin-top: 37px;
  margin-bottom: 28px;
}

.reasons__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.reasons__subtext {
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 0;
  padding-bottom: 2px;
  line-height: 26px;
}

.reasons__number:before,
.reasons__number:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: 9px;
  height: 1px;
  background-color: @white;
}

.reasons__item {
  &--one {
    color: @white;
    background-color: @primary-color;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
  }

  &--two {
    color: @white;
    background-color: @primary-color;
  }

  &--three, &--four, &--five {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: @dark-grey;
    background-color: @grey;
    border-bottom: 1px solid @border-color;

    & .reasons__number:before,
      .reasons__number:after {
        background-color: @dark-grey;
      }
    }

  &--five {
   border-bottom: none;
  }
}

.reasons__text--one {
  padding-top: 81px;
  padding-bottom: 22px;

  & .reasons__title {
    margin-bottom: -9px;
  }

  & .reasons__description {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.reasons__text--two {
  padding-top: 39px;
  padding-bottom: 22px;

  & .reasons__title {
    margin-bottom: -6px;
  }
}

.reasons__item--three {
  padding-top: 26px;
  padding-bottom: 18px;

  & .reasons__title {
    margin-bottom: -6px;
  }

  & .reasons__description {
    margin-bottom: 5px;
    margin-top: -3px;
  }
}

.reasons__item--four {
  padding-top: 26px;
  padding-bottom: 18px;

  & .reasons__title {
    margin-bottom: -10px;
  }

  & .reasons__description {
    margin-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.reasons__item--five {
  padding-top: 26px;
  padding-bottom: 18px;

  & .reasons__title {
    margin-bottom: -4px;
  }

  & .reasons__description {
    margin-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -3px;
  }
}

.reasons__image {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .reasons {
    padding-top: 20px;
   }

  .reasons__subtitle {
    margin-top: 26px;
    margin-bottom: 31px;
    padding-left: 127px;
    padding-right: 127px;
    font-size: 21px;
    line-height: 26px;
  }

  .reasons__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reasons__title {
    padding-left: 53px;
    padding-right: 53px;
    font-size: 21px;
    line-height: 26px;
  }

  .reasons__description {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 21px;
  }

  .reasons__item {
    border-bottom: none;

    &--one {
      background-image: none;

      & .reasons__title {
        margin-bottom: -5px;
      }

      & .reasons__number {
        margin-bottom: 19px;
      }

      & .reasons__description {
        padding-left: 41px;
        padding-right: 44px;
      }
    }

    &--one,
    &--two {
      width: 100%;
    }

    &--three,
    &--four,
    &--five  {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 40px;
      padding-bottom: 42px;
      width: 33.33%;
    }

    &--two .reasons__number {
      margin-bottom: 22px;
    }

    &--three {

      & .reasons__title {
        margin-left: -3px;
        margin-bottom: -3px;
        padding-left: 29px;
        padding-right: 20px;
      }

      & .reasons__number {
        margin-bottom: 20px;
      }

      & .reasons__description {
        margin-left: -16px;
        padding-left: 46px;
        padding-right: 25px;
      }
    }

    &--four {

      & .reasons__title {
        margin-left: -3px;
        margin-bottom: -3px;
        padding-left: 34px;
        padding-right: 20px;
      }

      & .reasons__number {
        margin-bottom: 20px;
        margin-left: 10px;
      }

      & .reasons__description {
        margin-left: -2px;
        padding-left: 41px;
        padding-right: 29px;
      }
    }

    &--five {

      & .reasons__title {
        margin-left: 5px;
        margin-bottom: -3px;
        padding-left: 34px;
        padding-right: 21px;
      }

      & .reasons__number {
        margin-bottom: 20px;
        margin-left: 16px;
      }

      & .reasons__description {
        margin-left: -6px;
        padding-left: 41px;
        padding-right: 16px;
      }
    }
  }

  .reasons__wrapper-item {
    display: flex;
  }

  .reasons__subtext{
    margin-bottom: 50px;
  }

  .reasons__text {
    width: 33%;

    &--one {
      padding-top: 43px;
    }

    &--two {
      order: 1;
      padding-top: 43px;
    }
  }

  .reasons__image-wrapper {
    width: 67%;
  }
}

@media (min-width: @desktop-width) {

  .reasons {
    padding-top: 22px;
  }

  .reasons__subtitle {
    font-size: 21px;
    line-height: 26px;
    padding-left: 310px;
    padding-right: 310px;
  }

  .reasons__item {
    border-bottom: none;

    &--one {
      background-image: none;

      & .reasons__title {
        padding-left: 104px;
        padding-right: 101px;
        padding-top: 5px;
      }

      & .reasons__number {
        margin-bottom: 21px;
      }

      & .reasons__description {
        padding-left: 54px;
        padding-right: 50px;
      }
    }

    &--two {

      & .reasons__title {
        padding-left: 96px;
        padding-right: 100px;
        margin-top: 7px;
        margin-bottom: -4px;
      }

      & .reasons__number {
        margin-bottom: 21px;
        margin-left: -6px;
      }

      & .reasons__description {
        margin-left: 20px;
        padding-left: 59px;
        padding-right: 83px;
      }
    }

    &--three {

      & .reasons__title {
        padding-left: 96px;
        padding-right: 73px;
        padding-top: 2px;
      }

      & .reasons__number {
        margin-left: 20px;
      }

      & .reasons__description {
        padding-left: 36px;
        padding-right: 1px;
        padding-bottom: 20px;
      }
    }

    &--four {

      & .reasons__title {
        padding-left: 155px;
        padding-right: 89px;
        padding-top: 2px;
      }

      & .reasons__number {
        margin-left: 65px;
      }

      & .reasons__description {
        padding-left: 67px;
        padding-right: 0;
      }
    }

    &--five {

      & .reasons__title {
        padding-left: 138px;
        padding-right: 35px;
        padding-top: 2px;
      }

      & .reasons__number {
        margin-left: 110px;
      }

      & .reasons__description {
        padding-left: 67px;
        padding-right: 0;
      }
    }


  }



  .reasons__image-wrapper {
    height: 256px;
    overflow: hidden;
  }

}
