.social__list {
  .list-unstyled();
  display: flex;
  justify-content: center;
}

.social__item {
  display: block;
  padding-left: 1em;

}

.social__link {
  background: @blue;
  color: @white;

}

.social__link {

  &--twitter {

  }

  &--facebook {

  }

  &--youtube {

  }
}
