.social__list {
  .list-unstyled();
  display: flex;
  justify-content: center;
}

.social__item {
  display: block;
  padding-left: 1em;
}

.social__link {
  background: @primary-color;
  color: @white;
}
