html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: @black;
  background-color: @body-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
